<div class="card-product">
  <img src="https://picsum.photos/200/300" />
  <div class="card-product-infos">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

