<%= simple_form_for(@cocktail) do |c| %>

<div class="search-form-control form-group">
  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= c.input :name %>
</div>

<%= c.submit "add a cocktail", class: "btn btn-gradient" %>
<% end %>
