<div class="container" style="padding-top: 16px">
<h1>Mister Cocktail</h1>

</div>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[cocktail_name]" id="search" />
    <button name="button" type="submit" class="btn btn-gradient">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-3">
      <%= render "card", cocktail: c %>
      </div>
    <% end %>
  </div>
</div>

<div style="padding-top: 16px">

<%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-gradient" %>

</div>

<div style="padding-top: 16px">

<%= link_to "All cocktails", cocktails_path, class: "btn btn-flat" %>

</div>


