<div style="margin-top: 16px">
<%= render "shared/searchform" %>
</div>

<div class="container">
<h1>Mister Cocktail</h1>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-3 hvr-grow">
      <%= render "card", cocktail: c %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/addnewcock" %>
<%= render "shared/allcocktails" %>
